.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner h4 {
    margin: 5px;
}

/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
    font-size: 10px;
    margin: 10px;
    /* text-indent: -9999em; */
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: var(--redux-color);
    background: -moz-linear-gradient(left, var(--redux-color) 10%, rgba(128, 0, 255, 0) 42%);
    background: -webkit-linear-gradient(left, var(--redux-color) 10%, rgba(128, 0, 255, 0) 42%);
    background: -o-linear-gradient(left, var(--redux-color) 10%, rgba(128, 0, 255, 0) 42%);
    background: -ms-linear-gradient(left, var(--redux-color) 10%, rgba(128, 0, 255, 0) 42%);
    background: linear-gradient(to right, var(--redux-color) 10%, rgba(128, 0, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: var(--redux-color);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ipt__header {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 40px 0 10px 0;
    background-color: #014165;
    .version {
        color: #1b6a99;
    }
}

.proposal__container {
    .btn__getData{
        padding:10px 20px;
        background-color: #007ABC;
        color:#ffffff;
        border-radius: 5px;
        margin:5px;
    }
    .rdg-header-row {
        background-color: #dfe7ea;
    }
    .fill-grid{
        block-size: 900px;
    }
    .view__summary {
        cursor: pointer;
        color: #2ba7ed;
    }
    .facility__cell {
        padding: 10px 30px;
        .facility__selector select {
            margin-left: 30px;
            min-width: 300px;
            padding:5px 10px;
        }
        .facility__container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 100px;
            .facility__field__title {
                color: #808080;
            }
        }
    }
}
